<!-- Material form login -->
<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<h5 class="card-header stn-color white-text text-center py-4">
				  <div><img class="center" src="../../../assets/images/seminario_vertical_blanco.png"></div>
				  <h2 class="card-title text-center" style="margin-top:10px;">Sistema de Inscripción de Alumnos</h2>
				  <h3 class="card-title text-center" style="margin-top:10px;">RECUPERAR CONTRASEÑA</h3>
				</h5>
			  
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0 form-login-signup-container">
			  
				  <!-- Form -->
				  <form [formGroup]="recoverPasswordForm">
					<p class="text-center" style="margin-top:20px;">Por favor, ingresa tu correo electrónico para recuperar tu contraseña.</p>

					<mat-form-field class="example-full-width">
						<mat-label>Correo electrónico</mat-label>
						<input matInput formControlName="email" required #passwordResetEmail required>
						
						<mat-error *ngIf="recoverPasswordForm.controls['email'].invalid">
							<span *ngIf="recoverPasswordForm.controls['email'].errors.email && !recoverPasswordForm.controls['email'].errors.required">El correo electrónico no es válido</span>
							<span *ngIf="recoverPasswordForm.controls['email'].errors.required">El correo electrónico es <strong>requerido</strong></span>
						  </mat-error>
					</mat-form-field>
					
					<!-- Sign in button -->
					<button [disabled]="!recoverPasswordForm.valid" mat-stroked-button color="primary" (click)="authService.forgotPassword(passwordResetEmail.value)" class="button-large">Recuperar contraseña</button>
					<!-- Register -->
					
					<div class="span-vspaced">¿Regresar a?<a class="redirect" routerLink="/sign-in"> Iniciar sesión</a></div>
					<span style="color:#b11921; text-align: center;"><small>{{authService.error}}</small></span>
					<span class="text-muted"><small>{{authService.success}}</small></span>
				  </form>
				  <!-- Form -->
			  
				</div>
			  
			  </div>
			  <!-- Material form login -->
		</div>  
	   </div>
	   </div>
</body>