<!-- Material form login -->
<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<h5 class="card-header stn-color white-text text-center py-4">
				  <div><img class="center" src="../../../assets/images/seminario_vertical_blanco.png"></div>
				  <h5 class="card-title text-center" style="margin-top:10px;">Sistema de Inscripción de Alumnos</h5>
				  <h6 class="card-title text-center" style="margin-top:10px;">RECUPERAR CONTRASEÑA</h6>
				</h5>
			  
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0">
			  
				  <!-- Form -->
				  <form class="text-center" style="color: #757575;" action="#!">
					<p class="text-center" style="margin-top:20px;">Por favor, ingresa tu correo electrónico para recuperar tu contraseña.</p>

					<!-- Password -->
					<div class="md-form">
						<input type="email" id="materialLoginFormEmail" class="form-control"  placeholder="Correo electrónico" #passwordResetEmail required>
					</div>
			  
					<!-- Sign in button -->

					<button mdbBtn type="button" outline="true" mdbWavesEffect class="btn btn-outline-stn btn-rounded btn-block my-4 waves-effect z-depth-0" value="Recuperar contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">Recuperar contraseña</button>
					<!-- Register -->
					
					<span>¿Regresar a?<a class="redirect" routerLink="/sign-in"> Iniciar sesión</a></span>
				  </form>
				  <!-- Form -->
			  
				</div>
			  
			  </div>
			  <!-- Material form login -->
		</div>  
	   </div>
	   </div>
</body>