<!-- Material form login -->
<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<h5 class="card-header stn-color white-text text-center py-4">
				  <div><img class="center" src="../../../assets/images/seminario_vertical_blanco.png"></div>
				  <h2 class="card-title text-center" style="margin-top:10px;">Sistema de Inscripción de Alumnos</h2>
				  <h3 class="card-title text-center" style="margin-top:10px;" *ngIf="this.mode=='resetPassword'">RECUPERAR CONTRASEÑA</h3>
				  <h3 class="card-title text-center" style="margin-top:10px;" *ngIf="this.mode=='verifyEmail'">VERIFICAR CORREO</h3>
				</h5>
			  
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0 form-login-signup-container">
			  
				  <!-- Form -->
				  <form [formGroup]="recoverPasswordFG" *ngIf="this.mode=='resetPassword' && this.email != undefined">
					<p class="text-center" style="margin-top:20px;">Por favor, ingresa tu nueva contraseña para el correo {{email}}.</p>

					<mat-form-field class="example-full-width">
						<mat-label>Nueva contraseña</mat-label>
						<input type="password" matInput formControlName="password" required #passwordReset required>
						
						<mat-error *ngIf="recoverPasswordFG.controls['password'].invalid">
							<span *ngIf="recoverPasswordFG.controls['password'].errors.required">La contraseña es requerida</span>
							<span *ngIf="recoverPasswordFG.controls['password'].errors.minlength">La contraseña debe tener al menos 8 caracteres></span>
						  </mat-error>
					</mat-form-field>
					
					<!-- Sign in button -->
					<button [disabled]="!recoverPasswordFG.valid" mat-stroked-button color="primary" (click)="this.handleResetPassword(passwordReset.value)" class="button-large">Aceptar</button>
					<!-- Register -->
				  </form>
				  
				  <span class="text-muted span-vspaced">{{successOperation}}</span>
				  <span style="color:#b11921; text-align: center;"><small>{{this.error}}</small></span>
				  <div class="span-vspaced">¿Regresar a?<a class="redirect" routerLink="/sign-in"> Iniciar sesión</a></div>
					

				</div>
			  
			  </div>
			  <!-- Material form login -->
		</div>  
	   </div>
	   </div>
</body>