# dependencies
/node_modules
node_modules/

#environment config
src/environments/environment.ts 
src/environments/environment.prod.ts

#Firebase config
firebase.json
database.rules.json
.firebase/
/..firebase/

#build folder
dist/
/dist

#.DS_Store
.DS_Store
