<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
	<nav  color="primary"  class="docs-navbar-header" aria-label="Top Toolbar">
		<button mat-icon-button (click)="snav.toggle()">
			<mat-icon style="color: #fff;">menu</mat-icon>
		</button>
			<img class="docs-angular-logo img-fluid" src="../../../assets/images/logo-horizontal-blanco.png" alt="angular">
			<span class="headline example-app-name" class="title-header">Sistema de Inscripción de Alumnos</span>

		<div class="flex-spacer"></div>
		<div class="nav-item dropdown no-arrow" *ngIf="authService.userData as user">
			<span class="username-header">{{user.displayName}}</span>
			<img class="img-profile rounded-circle img-fluid"
				src="{{(user.photoURL) ? user.photoURL : '../../../assets/images/avatar.png'}}">
		</div>
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
			<mat-icon style="color: #fff;">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()"> Salir</button>
		</mat-menu>
	</nav>

	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav [overlapTrigger]="false" (toggle)="isOpened()" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
			fixedTopGap="56" class="sidenav">
			<mat-nav-list class="navigation-list">
				<a mat-list-item (click)="showComponent('register-index')" class="nav-item"><mat-icon class="material-icons">home</mat-icon><span class="navigation-item-label"> Dasboard</span></a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item (click)="showComponent('register')" class="nav-item"><mat-icon class="material-icons">create</mat-icon><span class="navigation-item-label"> Solicitud de ingreso</span></a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item (click)="showComponent('personal-test')" class="nav-item"><mat-icon class="material-icons">how_to_reg</mat-icon><span class="navigation-item-label"> Test personal</span></a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item (click)="showComponent('personal-test')" class="nav-item"><mat-icon class="material-icons">sentiment_satisfied</mat-icon><span class="navigation-item-label"> Test psicológico</span></a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item (click)="showComponent('personal-test')" class="nav-item"><mat-icon class="material-icons">menu_book</mat-icon><span class="navigation-item-label"> Test bíblico</span></a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item (click)="showComponent('personal-test')" class="nav-item"><mat-icon class="material-icons">notes</mat-icon><span class="navigation-item-label"> Acuerdo de confesión</span></a>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content class="" style="align-content: center;">
			
			<div class="container-fluid"  [ngClass]="{'menu-open-dashboard-content': !snav.opened, 'menu-closed-dashboard-content': snav.opened}">
				<app-register *ngIf="currentComponent == 'register'"></app-register>
				<app-register-index *ngIf="currentComponent == 'register-index'"></app-register-index>
			</div>
			<!-- /.container-fluid -->
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>