<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"
	*ngIf="authService.userData; else elseLoading">
	<nav color="primary" class="docs-navbar-header" aria-label="Top Toolbar">
		<button mat-icon-button (click)="snav.toggle()">
			<mat-icon style="color: #fff;">menu</mat-icon>
		</button>
		<a mat-list-item routerLink="/dashboard">
			<img class="docs-angular-logo img-fluid" src="../../../assets/images/logo-horizontal-blanco.png"
				alt="angular">
			<span class="headline example-app-name" class="title-header">Sistema de Admisión de Estudiantes</span>
		</a>
		<div class="flex-spacer"></div>
		<div class="" *ngIf="authService.userData as user">
			<a routerLink="/dashboard" class="header-username-icon">
				<div class="username-header">{{authService.userData.displayName}}</div>
				<div
					*ngIf="authService.userData.photoURL != null && authService.userData.photoURL != undefined; else elseBlock">
					<img class="img-profile rounded-circle img-fluid" [src]="authService.userData.photoURL">
				</div>
				<ng-template #elseBlock
					style="display:flex; align-items:center; justify-content:center; text-align:center;">
					<div style="vertical-align: middle;">
						<mat-icon style="color: #fff; margin-left: 5px; font-size: 2em; margin-top: 7px;">account_circle
						</mat-icon>
					</div>
				</ng-template>
			</a>
		</div>
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
			<mat-icon style="color: #fff;">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()"> Salir</button>
		</mat-menu>
	</nav>

	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav [overlapTrigger]="false" (toggle)="isOpened()" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
			[fixedInViewport]="mobileQuery.matches" fixedTopGap="45" class="sidenav">
			<mat-nav-list class="navigation-list">
				<a mat-list-item [routerLink]="['/dashboard']" class="nav-item" routerLinkActive="nav-item-selected"
					[routerLinkActiveOptions]="{exact:true}">
					<mat-icon class="material-icons">home</mat-icon><span class="navigation-item-label">
						Dasboard</span>
				</a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item [routerLink]="['/dashboard/enrollment-test']" class="nav-item"
					routerLinkActive="nav-item-selected">
					<mat-icon class="material-icons">create</mat-icon><span class="navigation-item-label"> Solicitud de
						ingreso</span>
				</a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item [routerLink]="['/dashboard/personal-test']" routerLinkActive="nav-item-selected"
					class="nav-item">
					<mat-icon class="material-icons">how_to_reg</mat-icon><span class="navigation-item-label"> Test
						personal</span>
				</a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item [routerLink]="['/dashboard/psychological-test']" routerLinkActive="nav-item-selected"
					class="nav-item">
					<mat-icon class="material-icons">sentiment_satisfied_alt</mat-icon><span class="navigation-item-label">
						Test psicológico</span>
				</a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item [routerLink]="['/dashboard/biblical-test']" routerLinkActive="nav-item-selected"
					class="nav-item">
					<mat-icon class="material-icons">book</mat-icon><span class="navigation-item-label"> Test
						bíblico</span>
				</a>
				<mat-divider class="navigation-divider"></mat-divider>
				<a mat-list-item [routerLink]="['/dashboard/agreement']" routerLinkActive="nav-item-selected"
					class="nav-item">
					<mat-icon class="material-icons">notes</mat-icon><span class="navigation-item-label"> Acuerdo de
						confesión</span>
				</a>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content class="" style="align-content: center;">
			<div class="container-fluid"
				[ngClass]="{'menu-open-dashboard-content': !snav.opened, 'menu-closed-dashboard-content': snav.opened}">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

<ng-template #elseLoading>
	<mat-spinner class="centered" diameter="50" strokeWidth="2"></mat-spinner>
</ng-template>