<!-- Material form login -->

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-5">
					<h5 class="card-header stn-color white-text text-center py-4">
						<div><img class="center" src="../../../assets/images/seminario_vertical_blanco.png"></div>
						<h2 class="card-title text-center" style="margin-top:10px;">Sistema de Inscripción de Alumnos</h2>
						<h3 class="card-title text-center" style="margin-top:10px;">REGISTRO DE ALUMNO</h3>
					</h5>

					<!--Card content-->
					<div class="card-body px-lg-5 pt-0 form-login-signup-container">

						<!-- Form -->
						<form [formGroup]="signUpFormGroup">
							<div class="row">
								<div class="col-sm-6">
									<mat-form-field class="example-full-width">
										<mat-label>Nombre</mat-label>
										<input matInput formControlName="name" required #name>
										<mat-error
											*ngIf="signUpFormGroup.controls['name'].invalid">
											<span *ngIf="signUpFormGroup.controls['name'].errors.required">El nombre es <strong>requerido</strong></span>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="example-full-width">
										<mat-label>Apellidos</mat-label>
										<input matInput formControlName="lastname" required #lastname>
										<mat-error
											*ngIf="signUpFormGroup.controls['lastname'].invalid">
											<span *ngIf="signUpFormGroup.controls['lastname'].errors.required">Los apelldios son <strong>requerido</strong></span>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<mat-form-field class="example-full-width">
								<mat-label>Correo electrónico</mat-label>
								<input matInput formControlName="email" required #email>
								<mat-error
									*ngIf="signUpFormGroup.controls['email'].invalid">
									<span *ngIf="signUpFormGroup.controls['email'].errors.email">El correo electrónico no es válido</span>
									<span *ngIf="signUpFormGroup.controls['email'].errors.required">El correo electrónico es <strong>requerido</strong></span>
								</mat-error>
							</mat-form-field>

							<mat-form-field class="example-full-width">
								<mat-label>Contraseña</mat-label>
								<input type="password" matInput formControlName="password" required #password autocomplete="on">
								<mat-error
									*ngIf="signUpFormGroup.controls['password'].invalid">
									<span *ngIf="signUpFormGroup.controls['password'].errors.required">La contraseña <strong>es requerida</strong></span>
									<span *ngIf="signUpFormGroup.controls['password'].errors.minlength">La contraseña debe tener <strong>por lo menos 8 caracteres</strong></span>
								</mat-error>

							</mat-form-field>

							<mat-form-field class="example-full-width">
								<mat-label>Confirmar contraseña</mat-label>
								<input type="password" matInput formControlName="passConfirm" required #confirmPassword autocomplete="on">
								<mat-error
									*ngIf="signUpFormGroup.controls['passConfirm'].invalid && !signUpFormGroup.controls['passConfirm'].errors.match">
									Las contraseñas <strong>no coinciden</strong>
									{{signUpFormGroup.controls['passConfirm'].errors | json}}
								</mat-error>
							</mat-form-field>


							<section class="centered-vertical" style="margin-bottom: 30px;">
								<mat-checkbox class="" #rememberme>Recuérdame</mat-checkbox>
							</section>
		
							<!-- Sign up button -->

							<button [disabled]="!signUpFormGroup.valid" mat-stroked-button color="primary" (click)="authService.signUp(email.value, password.value, name.value, lastname.value, rememberme.checked)" class="button-large">Crear cuenta</button>
							<div>
								<span class="or"><span class="orInner">O</span></span>
							  </div>
						</form>
						<!-- Form -->
						<button mat-stroked-button style="color: #dd4b39;" (click)="authService.googleAuth()" class="button-large"><fa-icon [icon]="['fab', 'google']"></fa-icon> Iniciar sesión con Google</button>
		
						<!-- Register -->
						<div class="span-vspaced">¿Ya tienes una cuenta?<a class="redirect" routerLink="/sign-in"> Inicia sesión</a></div>
						<span style="color:#b11921; text-align: center;"><small>{{authService.error}}</small></span>
					</div>

				</div>
				<!-- Material form login -->
			</div>
		</div>
	</div>
</body>