<!-- Material form login -->
<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<h5 class="card-header stn-color white-text text-center py-4">
				  <div><img class="center" src="../../../assets/images/seminario_vertical_blanco.png"></div>
				  <h5 class="card-title text-center" style="margin-top:10px;">Sistema de Inscripción de Alumnos</h5>
				  <h6 class="card-title text-center" style="margin-top:10px;">INICIO DE SESIÓN</h6>
				</h5>
			  
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0">
			  
				  <!-- Form -->
				  <form class="text-center" style="color: #757575;" action="#!">
			  
					<!-- Email -->
					<div class="md-form">
					  <input type="email" id="materialLoginFormEmail" class="form-control"  placeholder="Correo electrónico" #userName required autofocus>
					</div>
			  
					<!-- Password -->
					<div class="md-form">
					  <input type="password" id="materialLoginFormPassword" class="form-control" placeholder="Contraseña" #userPassword required>					  
					</div>
			  
					<div class="d-flex justify-content-around">
					  <div>
						<!-- Remember me -->
						<div class="form-check">
						  <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
						  <label class="form-check-label" for="materialLoginFormRemember">Recordar contraseña</label>
						</div>
					  </div>
					  <div>
						<!-- Forgot password -->
						<a class="redirect" routerLink="/forgot-password">Olvidé mi contraseña</a>
					  </div>
					</div>
			  
					<!-- Sign in button -->

					<button mdbBtn type="button" outline="true" mdbWavesEffect class="btn btn-outline-stn btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="authService.SignIn(userName.value, userPassword.value)">Iniciar sesión</button>
					<div class="md-form">
						<span class="or"><span class="orInner">O</span></span>
					  </div>

				<button type="button" mdbBtn class="btn btn-outline-gplus btn-rounded btn-block my-4 waves-effect z-depth-0" mdbWavesEffect (click)="authService.GoogleAuth()"><fa-icon [icon]="['fab', 'google']"></fa-icon>  Iniciar sesión con Google</button>

					<!-- Register -->
					<span>¿Aún no tienes cuenta?<a class="redirect" routerLink="/register-user"> Regístrate</a></span>			  

				  </form>
				  <!-- Form -->
			  
				</div>
			  
			  </div>
			  <!-- Material form login -->
		</div>  
	   </div>
	   </div>
</body>