<mat-card>
	<mat-card-header class="questions-header">
		<mat-card-title>
			<h1 class="questions-title">TEST PERSONAL</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-vertical-stepper linear="false" #stepper *ngIf="mobileQuery.matches"
		(selectionChange)="evaluateCurrentForm($event)" [selectedIndex]="selectedIndex">
		<mat-step [stepControl]="testPersonalFG[0]" [hasError]="this.testPersonalFG[0].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[0].valid">
			<ng-template matStepLabel>Testimonio de Conversión</ng-template>
			<ng-container *ngTemplateOutlet="f0"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[1]" [hasError]="this.testPersonalFG[1].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[1].valid">
			<ng-template matStepLabel>Convicciones Morales</ng-template>
			<ng-container *ngTemplateOutlet="f1"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[2]" [hasError]="this.testPersonalFG[2].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[2].valid">
			<ng-template matStepLabel>Noviazgo y Matrimonio</ng-template>
			<ng-container *ngTemplateOutlet="f2"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[3]" [hasError]="this.testPersonalFG[3].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[3].valid">
			<ng-template matStepLabel>Crecimiento Espiritual</ng-template>
			<ng-container *ngTemplateOutlet="f3"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[4]" [hasError]="this.testPersonalFG[4].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[4].valid">
			<ng-template matStepLabel>Llamado ministerial</ng-template>
			<ng-container *ngTemplateOutlet="f4"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[5]" [hasError]="this.testPersonalFG[5].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[5].valid">
			<ng-template matStepLabel>Llamado ministerial</ng-template>
			<ng-container *ngTemplateOutlet="f5"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
			</div>
		</mat-step>
	</mat-vertical-stepper>
	<mat-horizontal-stepper linear="false" labelPosition="bottom" #stepper *ngIf="!mobileQuery.matches"
		(selectionChange)="evaluateCurrentForm($event)" [selectedIndex]="selectedIndex">
		<mat-step [stepControl]="testPersonalFG[0]" [hasError]="this.testPersonalFG[0].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[0].valid">
			<ng-template matStepLabel>Testimonio de Conversión</ng-template>
			<ng-container *ngTemplateOutlet="f0"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[1]" [hasError]="this.testPersonalFG[1].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[1].valid">
			<ng-template matStepLabel>Convicciones Morales</ng-template>
			<ng-container *ngTemplateOutlet="f1"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[2]" [hasError]="this.testPersonalFG[2].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[2].valid">
			<ng-template matStepLabel>Noviazgo y Matrimonio</ng-template>
			<ng-container *ngTemplateOutlet="f2"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[3]" [hasError]="this.testPersonalFG[3].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[3].valid">
			<ng-template matStepLabel>Crecimiento Espiritual</ng-template>
			<ng-container *ngTemplateOutlet="f3"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[4]" [hasError]="this.testPersonalFG[4].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[4].valid">
			<ng-template matStepLabel>Llamado ministerial</ng-template>
			<ng-container *ngTemplateOutlet="f4"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
				<button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step [stepControl]="testPersonalFG[5]" [hasError]="this.testPersonalFG[5].invalid && this.filledOneTest"
			[errorMessage]="errorMessage" optional=false [completed]="this.testPersonalFG[5].valid">
			<ng-template matStepLabel>Llamado ministerial</ng-template>
			<ng-container *ngTemplateOutlet="f5"></ng-container>
			<div style="margin-top: 20px;">
				<button mat-stroked-button color="primary" matStepperPrevious
					style="margin-right:10px">Anterior</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</mat-card>

<ng-template #f0>
	<form [formGroup]="testPersonalFG[0]" #personalTestForm0="ngForm">
		<div class="form-title">Testimonio de Conversión</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Cómo conoció a Cristo? Explique la manera como lo aceptó.</mat-label>
				<textarea matInput formControlName="christEncounterDescription" required rows="5"
					(blur)="savePersonalTestInfo(0,'christEncounterDescription')"></textarea>
				<mat-error
					*ngIf="testPersonalFG[0].controls['christEncounterDescription'].invalid && saveAttempt == true">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Cómo era su vida antes de conocer a Cristo?</mat-label>
				<textarea matInput formControlName="christBeforeDescription"
					(blur)="savePersonalTestInfo(0,'christBeforeDescription')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[0].controls['christBeforeDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Qué ha pasado en su vida desde su conversión?</mat-label>
				<textarea matInput formControlName="christAfterDescription" required
					(blur)="savePersonalTestInfo(0,'christAfterDescription')" rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[0].controls['christAfterDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Describa su experiencia de bautismo en agua.</mat-label>
				<textarea matInput formControlName="baptismDescription" required
					(blur)="savePersonalTestInfo(0,'baptismDescription')" rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[0].controls['baptismDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-template>

<ng-template #f1>
	<form [formGroup]="testPersonalFG[1]" #personalTestForm1="ngForm">
		<div class="form-title">Convicciones Morales</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Explique ¿Cual es su convicción personal sobre los siguientes problemas de tipo moral?
					Homosexualidad, lesbianismo, masturbación, pornografía, adulterio y fornicación.</mat-label>
				<textarea matInput formControlName="moralConvictionsDescription" required
					(blur)="savePersonalTestInfo(1,'moralConvictionsDescription')" rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[1].controls['moralConvictionsDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Se ha visto usted inmiscuido en algunos de estos problemas de tipo moral? Explique su
					respuesta.</mat-label>
				<textarea matInput formControlName="moralInvolvementDescription"
					(blur)="savePersonalTestInfo(1,'moralInvolvementDescription')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[1].controls['moralInvolvementDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Ha consumido alcohol o algún tipo de droga? Si su respuesta es positiva ¿cuál?</mat-label>
				<textarea matInput formControlName="alcoholDrugsDescription" required
					(blur)="savePersonalTestInfo(1,'alcoholDrugsDescription')" rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[1].controls['alcoholDrugsDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-template>

<ng-template #f2>
	<form [formGroup]="testPersonalFG[2]" #personalTestForm2="ngForm">
		<div class="form-title">Noviazgo y Matrimonio</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Qué piensa sobre el noviazgo?</mat-label>
				<textarea matInput formControlName="courtshipThought"
					(blur)="savePersonalTestInfo(2,'courtshipThought')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[2].controls['courtshipThought'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Qué piensa sobre el matrimonio?</mat-label>
				<textarea matInput formControlName="marriageThought" (blur)="savePersonalTestInfo(2,'marriageThought')"
					required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[2].controls['marriageThought'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-template>

<ng-template #f3>
	<form [formGroup]="testPersonalFG[3]" #personalTestForm3="ngForm">
		<div class="form-title">Crecimiento Espiritual</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Explique la importancia de mantener una relación intima con Dios, y las estrategias que usted
					sigue para experimentar esa comunión plena con su Señor.</mat-label>
				<textarea matInput formControlName="godsRelationshipDescription"
					(blur)="savePersonalTestInfo(3,'godsRelationshipDescription')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[3].controls['godsRelationshipDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Explique cuán importante es la obediencia en la vida cristiana hacia las autoridades
					espirituales que Dios ha puesto en nuestro entorno. Sean estos pastores, lideres juveniles,
					profesores u otros.</mat-label>
				<textarea matInput formControlName="authorityThought"
					(blur)="savePersonalTestInfo(3,'authorityThought')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[3].controls['authorityThought'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-template>

<ng-template #f4>
	<form [formGroup]="testPersonalFG[4]" #personalTestForm4="ngForm">
		<div class="form-title">Llamado ministerial</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Explique de que manera recibió el llamado de servir al Señor y que fruto ha habido hasta hoy.
				</mat-label>
				<textarea matInput formControlName="calledDescription"
					(blur)="savePersonalTestInfo(4,'calledDescription')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[4].controls['calledDescription'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Explique cómo se visualiza de aquí a cinco años en su vida personal y ministerial.
				</mat-label>
				<textarea matInput formControlName="personalMinisterialGoals"
					(blur)="savePersonalTestInfo(4,'personalMinisterialGoals')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[4].controls['personalMinisterialGoals'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>Entendiendo que las implicaciones del discipulado y del llamamiento cristiano son grandes
					¿Estaría usted dispuesto a perder la vida por causa del evangelio? Explique su respuesta.
				</mat-label>
				<textarea matInput formControlName="personalGospelUnderstanding"
					(blur)="savePersonalTestInfo(4,'personalGospelUnderstanding')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[4].controls['personalGospelUnderstanding'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-template>

<ng-template #f5>
	<form [formGroup]="testPersonalFG[5]" #personalTestForm5="ngForm">
		<div class="form-title">Llamado ministerial</div>
		<div class="mat-card-subtitle">Le suplicamos que sea tan amable de responder con toda verdad y claridad cada una
			de las preguntas.</div>
		<div class="form-row">
			<div class="col-sm-12">
				<label id="example-radio-group-label">¿Cómo considera su estado de salud?</label>
				<div>
					<mat-radio-group aria-label="Seleccione una opción" formControlName="healthCondition"
						(change)="savePersonalTestInfo(5,'healthCondition')" required>
						<mat-radio-button value="Bueno">Bueno</mat-radio-button>
						<mat-radio-button value="Muy bueno">Muy bueno</mat-radio-button>
						<mat-radio-button value="Regular">Regular</mat-radio-button>
						<mat-radio-button value="Malo">Malo</mat-radio-button>
						<mat-error *ngIf="testPersonalFG[5].controls['healthCondition'].invalid && saveAttempt == true">
							Este campo es <strong>requerido</strong>
						</mat-error>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Es usted alérgico a algún medicamento, alimento o alguna otra cosa? Si, ¿a cuál?</mat-label>
				<textarea matInput formControlName="drugAllergy" required (blur)="savePersonalTestInfo(5,'drugAllergy')"
					rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['drugAllergy'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Padece alguna enfermedad crónica degenerativa? (Diabetes, osteoporosis, etc.)</mat-label>
				<textarea matInput formControlName="chronicIllness" required
					(blur)="savePersonalTestInfo(5,'chronicIllness')" rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['chronicIllness'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Está actualmente tomando algún medicamento o tratamiento natural para controlar alguna
					enfermedad?</mat-label>
				<textarea matInput formControlName="controlledDrug" (blur)="savePersonalTestInfo(5,'controlledDrug')"
					required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['controlledDrug'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Tiene problemas visuales? Especifique</mat-label>
				<textarea matInput formControlName="visualProblems" (blur)="savePersonalTestInfo(5,'visualProblems')"
					required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['visualProblems'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Padece algún problema del habla? Especifique</mat-label>
				<textarea matInput formControlName="speakingIllness" (blur)="savePersonalTestInfo(5,'speakingIllness')"
					required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['speakingIllness'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<div class="col-sm-12">
				<label id="example-radio-group-label">¿Tiene usted todas sus vacunas?</label>
				<div>
					<mat-radio-group aria-label="Seleccione una opción" formControlName="vaccinesCompletition"
						(change)="savePersonalTestInfo(5,'vaccinesCompletition')" required>
						<mat-radio-button value="Yes">Sí</mat-radio-button>
						<mat-radio-button value="No">No</mat-radio-button>
						<mat-error
							*ngIf="testPersonalFG[5].controls['vaccinesCompletition'].invalid && saveAttempt == true">
							Este campo es <strong>requerido</strong>
						</mat-error>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Tiene alguna enfermedad contagiosa? ¿Cuál?</mat-label>
				<textarea matInput formControlName="contagiousIllness"
					(blur)="savePersonalTestInfo(5,'contagiousIllness')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['contagiousIllness'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field class="col-sm-12 example-full-width">
				<mat-label>¿Ha tenido alguna enfermedad de transmisión sexual?</mat-label>
				<textarea matInput formControlName="sexualTransmisionIllness"
					(blur)="savePersonalTestInfo(5,'sexualTransmisionIllness')" required rows="5"></textarea>
				<mat-error *ngIf="testPersonalFG[5].controls['sexualTransmisionIllness'].invalid">
					Este campo es <strong>requerido</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-checkbox class="col-sm-12 example-margin" labelPosition="after" formControlName="agrementCheck"
				(change)="savePersonalTestInfo(5,'agrementCheck')">
				Protesto decir verdad de todo lo anterior
			</mat-checkbox>
			<mat-error *ngIf="testPersonalFG[5].controls['agrementCheck'].invalid && saveAttempt == true">
				Debes aceptar este acuerdo
			</mat-error>
		</div>
	</form>
</ng-template>