<mat-card>
	<mat-card-header class="questions-header">
		<mat-card-title><h1 class="questions-title">TEST PSICOLÓGICO</h1></mat-card-title>
	</mat-card-header>
	<form [formGroup]="psicologicalTestFG">
		<div>Instrucciones: A continuación hay 60 frases incompletas. Lea cada una y complétela con lo primero que venga a  su mente. Trabaje tan a prisa como le sea posible. Presione <strong>Comenzar</strong> para empezar el test</div>
		<span id="chronotime"><h1 style="text-align: center;  font-size: 36px; color: #5E2129; margin-top: 20px;">{{chronometer.chronoLabel}}</h1></span>
		<div style="text-align: center;">
			<button mat-stroked-button  color="primary"
				(click)="start()" [disabled]="started">Comenzar</button>
		</div>
		
		<div class="form-row" [formGroup]="psicologicalTestFG"  *ngFor="let question of psicoQuestions; let i=index" [hidden]="started==false && psicologicalTestFG.invalid==true">
			<div class="col-sm-12"> 
				<mat-form-field class="example-full-width">
					<mat-label>{{question}}</mat-label>
					<input matInput formControlName="{{'question'+i}}" (blur)="savePsychoTestInfo(0,'question'+i)" required>
					<mat-error
						*ngIf="psicologicalTestFG.controls['question'+i].invalid">
						Este campo es <strong>requerido</strong>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
			<div style="margin-top: 20px;">
				<button mat-stroked-button [disabled]="!psicologicalTestFG.valid && psicologicalTestFG.enabled" color="primary" (click)="saveData()">Terminar</button>
			</div>
	</form>
</mat-card>