.label-h1{
	font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.card-style {
	margin: auto;
	max-width: 250px;
    min-height: 250px;
	max-height: 250px;
	text-decoration:none; outline:none
}

.card-style:hover {
	cursor: pointer;
}

.card-footer {
    text-align-last: center;
    border-top: solid #b7b5b5 1px;
    position: absolute;
    bottom: 17px;
    max-height: 60px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    display: -webkit-inline-box;;
}

.card-footer:hover {
	border-color: #5e2028;
}

.card-content {
	text-align: center; 
	padding-left:30px; 
	padding-right: 30px;
}

.card-footer-text-content {
    vertical-align: super;
    text-align: center;
    font-weight: 200;
}

.img-profile {
	margin-left: 10px;
	margin-right: 2px;
	height: 80px;
	width: 80px;
  }

  .img-profile-container {
	margin-left: 10px;
	margin-right: 2px;
	height: 100px;
	width: 100px;
	margin: auto;
	float: left;  
  }

.profile-description {
	margin-left: 110px;
}  

@media screen and (max-width: 720px) {
	.img-profile-container {
		margin-left: 10px;
		margin-right: 2px;
		height: 80px;
		width: 80px;
		margin: auto;  
		float: left;
	  }	

	  .img-profile {
		margin-left: 10px;
		margin-right: 2px;
		height: 80px;
		width: 80px;
	  }	
	  .label-name{
		  display: none;
	  }
	  .label-email {
		  display: none;
	  }
	  
	  .username {
		  font-size: 16px;
	  }
	  .useremail{
		  font-size: 16px;
	  }
}

.outline {
    border-style: solid;
	border-width: thin;
	border-color: #b7b5b5;
}

.outline:hover {
    border-style: solid;
	border-width: thin;
	border-color: #5e2028;
}